.constamized-components{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: left;
    height: 500px;
    width: 200px;
    
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(228, 230, 230);
    background-color: #fff;
    margin: 10px;
}
.second-card-cainter{
    
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    background-color: #f7f4f4;
    margin: 10px;
    border-color: rgb(228, 230, 230);
    font-family: "Rub";
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.service-incled-description{
text-align: left;
font-size: 18px;
margin-left: 15px;
font-family: 'Rubik', sans-serif;
animation: slide-up 1s forwards;
}
.technologie-used{
    height: 100px;
    width: 100px;
    background-color: #fff;
    padding: 5px;
    margin: 6px;
}
.technologie-used:hover{
  border-radius: 5px;
  border-color: rgb(86, 86, 254);
  border-style: solid;
  cursor: pointer;

}
.used-tech-card-cantainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.service-include-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.second-card-service{
    width: 100%;
}
.conatiner-webdevlop-card{
    display: flex;
}
.conatiner-webdevlop-card{
    display: flex;
    flex-direction: row;
}
.service-includes-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    margin-top: 0px;
    text-align: center;
}
.servic-include-imges{
    height: 60px;
    width: 60px;
    background-size: cover;
}
