.conatactus{
  background-color: #f0f5fe;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 5px;
  padding: 80px;
  
}

.conatct-details-card{
  
    
    width: 100%;
    height: 90%; 
    background-color: #0546b0;
    border-radius: 20px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.contact-info{
    color: #fff;
    text-align: left;
    width: 100%;
}

.form-container {
    height: 600px;
    width:100%;
    display: flex;
    justify-content: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
   
  }
  .input-flids{
    height: 46px;
    width: 90%;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: hwb(210 96% 3%);
  }
  .my-form {
    width:100%;
    padding: 2px;
    
    border-radius: 5px;
  }
  
  .my-form .file-name {
    margin-top: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    background-color: #edebeb02;
  }
  
  
  .my-form textarea {
    width: 90%;
    height: 100px;
  padding: 15px;
  margin-top: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
margin: 5px; }
  
  
  .my-form button {
    width: 40%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #033584;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    
  }
  .arow-imge{
    height: 15px;
    width: 15px;
  }
  .space-conat-info-itcons{
    padding-left:18px ;
    padding-top: 13px;
  }
  
  
  .my-form label.file-label {
    display: inline-block;
    padding: 8px 12px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .my-form label.file-label:hover {
    background-color: #45a049;
  }
  
  .my-form label.file-label::before {
    content: "Choose File";
  }
  
  .my-form label.file-label span {
    margin-left: 8px;
  }
  
  .my-form .file-name {
    margin-top: 5px;
    font-size: 14px;
  }
  
  .conatct-froms{
    background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  width: 380px;
  }

  .conatct-detali-items-container{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
  }
 /* .conatct-froms-top-card{
    background-color: #f0f5fe;
    margin-bottom:10px ;
    margin-left: 30px;
    
  } */

  .input-flids-label{
    display: flex;
    flex-direction: column;
    
     align-items: center;
    
    
    
    
  }
  @media screen and (min-width:910px) {
    .hiden-card{
      display: none;
    }
  }
  
  @media screen and (max-width:910px) {
    .hiden-card{
      display: block;
    }
    .hiden-conatct-page{
      display: none;
    }
  }
  