.carosel-main-conatiner{
  
}

.testimoniel{
    background-color: #fcf9f9;
    padding: 5px;
    overflow: hidden;
    font-family: 'Rubik', sans-serif;

}
.swiper-container-card {
    width: 31%;
    height: 31%;
    margin-bottom: 10px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-pagination {
    position: absolute;
    bottom: 10px;
    left: 0%;
    transform: translateX(-30%);
  }
  .swip-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    height:300px;
    width: 40px;
    background-color: orange;
    font-family: 'Rubik', sans-serif;

  }
  .testimonials-card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(238, 239, 242, 0.578);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
    transition: 0.3s;
    height: 500px;
    width: 350px;
    max-width: 500px;
    margin:0px ;
    background-color:#fff;
    border-radius: 19px;
    overflow: hidden;
    font-family: 'Rubik', sans-serif;

  
  
  
  
  }
  .testimonials-card:hover{
    
    cursor: pointer;
    transform: scale();
    transition: 4.s;
  }

  /* On mouse-over, add a deeper shadow */
  .ourservice-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    background-color: #fff;
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 10px;
    text-align: left;
    font-family: 'Rubik', sans-serif;

  }
  .client-card-cantener{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Rubik', sans-serif;

  }
  .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .btn-left{

    background-color:white;
    color: white;
    padding: 10px;
    border-width: 0px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;

  }
  .people-imge{
    
  
    height: 130px;
    width: 150px;
    margin-left: 40px;
    
    position: absolute;
  
  left: 20%;
   transform: translate(-30%, -40%); 


  z-index: 1;
  
    

  }
  
  .bottom-padding{
    padding-top: 100px;
  }
  .imge-testinomels{
    border-radius: 10px;
  }


  *{
      font-family: 'Rubik', sans-serif;

  }
  .container-testimonels{
    text-align: left;
    padding: 13px;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
  }
  @media screen and (min-width:776px) {
    .large-divces-testinmonel{
      display: block;
    }
    .samll-device-testimonels{
      display: none;
    }
    .small-device-testi{
      display: none;
    }
  }

  @media screen and (max-width: 774px){
    .samll-device-testimonels{
      display: block;
    }
   
    .large-divces-testinmonel{
      display: none;

    }
    .small-device-testi{
      display: block;
    }
    
  }
  
  .testi-container-cards{
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;

  }
  .carosel-testi-img{
    height: 40%;
  }

  .gradient-custom {
    background: transparent linear-gradient(58deg, #04427d 0%, #006bc0 100%) 0% 0% no-repeat padding-box;
    
 }
  .carousel-indicators {
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }