.card-container-counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Rubik', sans-serif;
    background: transparent linear-gradient(58deg, #04427d 0%, #006bc0 100%) 0% 0% no-repeat padding-box;
    

  }
  
  .card-counetr {
    
     /* background: transparent linear-gradient(58deg, #04427d 0%, #006bc0 100%) 0% 0% no-repeat padding-box;*/
      /*box-shadow: 0px 12px 25px #1497d04f;*/
      border-radius: 15px;
      color: #fff;
      padding: 60px 45px;
      margin:10px 25px 15px 10px;
      height: 190px;
      width: 200px;
      font-family: "roboto";
      font-family: 'Rubik', sans-serif;

  
  }
  
  .counter-text{
    font-family: "roboto";
    font-weight: 1000;
    font-size: 38px;
    

  }
  .counter-text-descripion{
    font-family: "roboto";
    font-weight: 1000; 
    font-size: 23px;
    

  }