.constamized-components{
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: left;
    height: 500px;
    background-color: rgb(251, 254, 253);
}
.second-card-cainter{
    width: 100%;
    font-family: 'Rubik', sans-serif;
}
.service-incled-description{
text-align: left;
font-size: 18px;
margin-left: 15px;
}
.technologie-used{
    height: 100px;
    width: 100px;
    background-color: #fff;
    padding: 5px;
    margin: 6px;
}
.technologie-used:hover{
  border-radius: 5px;
  border-color: rgb(86, 86, 254);
  border-style: solid;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;

}
.used-tech-card-cantainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
}

@media screen and (min-width:500px) {
    
    .conatiner-testing-card{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        
    }
    .small-conatiner-testing-card{
        display: none;
    }
}

@media screen and (max-width:700px) {
    

.small-conatiner-testing-card{
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-family: 'Rubik', sans-serif;
}
 .conatiner-testing-card{
    display: none;
}
}
.background-color-testing{
    background-color: #fff;
    font-family: 'Rubik', sans-serif;
}